/*===============adding fonts ========= */

	@font-face {
    font-family: brandonTextMedium;   /*brandon Text Medium*/
    src: url("assets/fonts/BrandonText/HVDFonts-BrandonText-Medium.otf");
    src: url("assets/fonts/BrandonText/HVDFonts-BrandonText-Medium.woff");
}
@font-face {
    font-family: brandonTextBold;   /*brandon Text Bold*/
    src: url("assets/fonts/BrandonText/HVDFonts-BrandonText-Bold.otf");
    src: url("assets/fonts/BrandonText/HVDFonts-BrandonText-Bold.woff");
}

@font-face {
    font-family: MyriadPro-Light; 
    src: url("assets/fonts/MyriadPro/MyriadPro-Light_3.otf");
    src: url("assets/fonts/MyriadPro/MyriadPro-Light_3.woff");
}

@font-face {
    font-family:BrandonTextBlack;  /*// brandon Textblack*/
    src: url("assets/fonts/BrandonText/HVDFonts-BrandonText-Black.otf");
    src: url("assets/fonts/BrandonText/HVDFonts-BrandonText-Black.woff");
}


/* ============== RESET ============== */
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	
	html, body {
		height: 100%;
	}

	body {
		line-height: 23px;
		font-family: 'Open Sans', sans-serif;
		font-size: 13px;
		color: #787878;
	}

	ol, ul {
		list-style: none ;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	
	a:active, a:focus {
		outline: none; 
	}

	*:focus {
		outline: none;
	}
	a:hover {
    text-decoration: none !important ;
   
	}
/* ============== / RESET ============== */

/* ============== STANDARD SETTINGS ============== */
	* {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	
	.gap-1 {
		padding: 80px 0;
	}
	
	.gap-2 {
		padding: 85px 0 0;
	}
	.gap-3 {
		padding: 50px 0;
	}
	.gap-4 {
		padding: 30px 0;
	}
	
	.tb {
	   display: table;
	   width: 100%;
	   height: 100%;
	   position: relative;
	}

	.tb-cell {
	   display: table-cell;
	   text-align: center;
	   vertical-align: middle;
	}
	.fa{
		color: #262c35;
	}
	h1 {
		font-size: 36px;
		line-height: 62px;
	}
	
	h2 {
		font-size: 28px;
		line-height: 52px;
	}
	
	h3 {
		font-size: 24px;
		line-height: 32px;
	}
	
	h4 {
		font-size: 22px;
		line-height: 28px;
	}
	
	h5 {
		font-size: 20px;
		line-height: 28px;
		
	}
	
	h6 {
		font-size: 18px;
		line-height: 24px;
	}
	
	h1, h2, h3, h4, h5, h6 {
		margin: 0 0 20px 0;
		font-weight: 300;
		color: #404040;
		font-weight: 600;
	}
	
	a {
		text-decoration: none;
		color: inherit;
	}
	
	p {
		margin: 0 0 20px 0;
	}
	
	body > section {
		position: relative;
		overflow: hidden;
	}
	
	.bg-1 {
		background-color: #f0f0f0;
	}
	
	#bg-fade {
		z-index: 9993;
		width: 100%;
		height: 100%;
		top: 0;
		display: none;
		position: fixed;
		background: #fff;
		overflow: auto;
	}
	
	#window {
		z-index: 9997;
		display: none;
		width: 100%;
	}

	#main-menu{
		font-family:brandonTextMedium !important;
		
	}
	#desktop-menu ul
	{
		list-style:none;
		text-decoration:none;
		text-transform : uppercase;
		color:#ffffff;
	}
	.general-color, #desktop-menu > ul > li:hover > a, #desktop-menu > ul > .current_menu_item > a, .contentbox-1 div, .contentbox-2 div, .button-1:hover, .featured .button-1, .icon-1:hover, #tweets-container li a, #portfolio-categories .active a, #portfolio-categories ul li a:hover, .post-element > header > h5:hover, .widget a:hover, .info-post-header a:hover, .comment-body a:hover {
		color: #494848;
		
	}
	
	.general-bg, .contentbox-1:hover div, .contentbox-2:hover div, .slogan, .button-2:hover, .widget_tag_cloud a:hover, .slideshow-post .rslides_nav:hover, .slideshow-portfolio .rslides_nav:hover, #blog-navi a:hover, #comment-form input[type="submit"]:hover, .quote:hover, .social-like:hover {
		background-color: #494848 !important;
	}
	
	.general-border, #desktop-menu ul li a:hover, #desktop-menu > ul > .current_menu_item > a, .contentbox-1 div, .contentbox-2 div, .featured, .featured ul li, .pricing-table .button-1:hover, .featured .button-1, #portfolio-categories .active a, #portfolio-categories ul li a:hover, #contact-form input[type="text"]:focus, #contact-form textarea:focus, .error-input, .text-edit blockquote, #comment-form textarea:focus, #comment-form input[type="text"]:focus, .active-tab {
		border-color: #494848 !important;
	}
	
	*::-moz-selection {
		color: #fff;
		background-color: #494848 !important;
	}
	
	::selection {
		color: #fff;
		background-color: #494848 !important;
	}
	
	.button-1 {
		border: none;
		color: #fff;
		font-family:BrandonTextBlack;
		//background:url("assets/img/btn.png") no-repeat center;
		font-size: 14px;
		text-transform : uppercase;
	}
	
	
	.button-1.active,.button-3.active {
		//background:url("assets/img/btn-hover.png") no-repeat center;
	}
	
	.button-2, #comment-form input[type="submit"] {
		padding: 12px 30px;
		display: inline-block;
		background-color: #404040;
		color: #fff;
		font-size: 12px;
		border-radius: 2px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		transition: background-color 0.2s;
		-moz-transition: background-color 0.2s;
		-webkit-transition: background-color 0.2s;
		-ms-transition: background-color 0.2s;
		border: none;
		cursor: pointer;
		text-transform : uppercase;
	}
	
	.button-2.read-more {
		padding: 6px 10px !important;
		margin-top: 10px;
	}
	.button-3 {
		border: none;
		color: #fff;
		font-family:BrandonTextBlack;
		background:url("assets/img/btn-2.png") no-repeat center;
		font-size: 14px;
		text-transform : uppercase;
	}
	
	.button-4 {
		border: none;
		color: #fff;
		font-family:BrandonTextBlack;
		background:url("assets/img/btn-hover.png") no-repeat center;
		font-size: 14px;
		text-transform : uppercase;
	}
	
	.button-5 {
		padding: 12px 25px;
		display: inline-block;
		border: none;
		border-radius : 2px;
		margin:7px 7px 45px 7px;
		color: #1ac9c7;
		font-family:BrandonTextBlack;
		background:#ffffff;
		font-size: 14px;
		text-transform : uppercase;
	}
	.slideshow-post .rslides_nav, #blog-navi a, .slideshow-portfolio .rslides_nav {
		background-color: #404040;
		color: #fff;
		text-align: center;
		width: 35px;
		height: 35px;
		line-height: 35px;
		border-radius: 2px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		transition: background-color 0.2s, opacity 0.2s;
		-moz-transition: background-color 0.2s, opacity 0.2s;
		-webkit-transition: background-color 0.2s, opacity 0.2s;
		-ms-transition: background-color 0.2s, opacity 0.2s;
		display: block;
		position: absolute;
		top: 45%;
		z-index: 3;
		font-size: 16px;
	}
	
	.slideshow-post .rslides_nav, .slideshow-portfolio .rslides_nav {
		opacity: 0;
		-moz-opacity: 0;
		-khtml-opacity: 0;
	}
	
	.slideshow-post:hover .rslides_nav, .slideshow-portfolio:hover .rslides_nav {
		opacity: 1;
		-moz-opacity: 1;
		-khtml-opacity: 1;
	}
	
	#blog-navi a {
		position: static;
		display: inline-block;
	}
	
	.slideshow-post .prev, .slideshow-portfolio .prev {
		left: 20px;
	}

	.slideshow-post .next, .slideshow-portfolio .next {
		right: 20px;
	}
	
	.icon-1 {
		width: 30px;
		height: 30px;
		display: inline-block;
		line-height: 30px;
		border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		color: #fff;
		font-size: 13px;
		transition: color 0.2s, background 0.2s;
		-webkit-transition: color 0.2s, background 0.2s;
		-moz-transition: color 0.2s, background 0.2s;
		-ms-transition: color 0.2s, background 0.2s;
		cursor: pointer;
		margin: 5px;
		text-align: center;
		background-color: #444;
	}
	
	.icon-1:hover {
		background-color: #fff;
	}
	
	.icon-2 {
		width: 45px;
		height: 45px;
		display: inline-block;
		line-height: 45px;
		border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		color: #fff;
		font-size: 13px;
		transition: color 0.2s, background 0.2s;
		-webkit-transition: color 0.2s, background 0.2s;
		-moz-transition: color 0.2s, background 0.2s;
		-ms-transition: color 0.2s, background 0.2s;
		cursor: pointer;
		margin: 5px;
		text-align: center;
	}
	
	.icon-2:hover {
		background-color: #fff;
		color: #404040;
	}
	
	header.row {
		padding: 0 10px;
	}
	
	
/* ============== / STANDARD SETTINGS ============== */

/* ======== EDITOR STYLES ======== */
	.text-edit img, .comment-body img {
		max-width: 100%;
		height: auto;
	}
	
	.text-edit {
		line-height: 22px;
	}

	.text-edit blockquote, .comment-body blockquote {
		padding-left: 35px;
		border-left: 3px solid;
		margin: 35px 0;
		font-style: italic;
	}

	.text-edit ul, .comment-body ul {
		margin: 30px 30px;
	}
	
	.text-edit ul li, .comment-body ul li {
		margin-bottom: 10px;
		padding-left: 20px;
		/*list-style-type: disc; */
	}

	.text-edit ol, .comment-body ol {
		margin: 10px 20px;
		list-style: decimal;
	}

	.text-edit dl, .comment-body dl {
		margin: 10px 0;
	}

	.text-edit dl dd, .comment-body dl dd {
		margin-left: 20px;
		font-style: italic;
	}

	.text-edit strong, .comment-body strong {
		font-weight: 600;
	}

	.text-edit pre, .comment-body pre {
		word-wrap: break-word;
		padding: 15px;
		overflow: auto;
		background-color: #eee;
	}

	em {
		font-style: italic;
	}

	.text-edit q, .comment-body q {
		font-style: italic;
		padding-left: 20px;
	}

	.text-edit ol li ol, .comment-body  ol li ol {
		list-style: upper-alpha;
	}
	
	.wp-caption-text {
		font-size: 11px;
		width: 100%;
	}

	img.alignright {
		float: right;
		margin: 0 0 5px 5px;
	}

	img.alignleft {
		float: left;
		margin: 0 5px 5px 0;
	}

	img.aligncenter {
		display: block;
		margin: 10px auto;
	}

	.alignright {
		float:right;
	}

	.alignleft {
		float:left;
	}

	.aligncenter {
		text-align: center;
	}
	
	
	
	.push-right {
		float: right;
	}

	sub, sup {
		font-size: 75%;
		line-height: 0;
		position: relative;
		vertical-align: baseline;
	}
	 
	sup {
		top: -0.5em;
	}
	 
	sub {
		bottom: -0.25em;
	}

	code {
		font-family: courier;
		white-space: nowrap;
		background-color: #F7F7F9;
		color: #DD1144;
		padding: 2px 4px;
		border: 1px solid #E1E1E8;
	}

	address {
		font-style: italic;
	}

	.text-edit ol li ol li ol, .comment-body ol li ol li ol {
		list-style: lower-alpha;
	}

	.wp-caption {
		max-width: 100% !important;
		text-align: center;
	}

	.text-edit table, .comment-body table {
		margin: 1em;
		border-collapse: collapse;
	}

	.text-edit td, .text-edit th, .comment-body td, .comment-body th {
		padding: .3em;
		border: 1px #ccc solid;
	}
	
	.clearfix {
		clear: both;
	}
	
	
	.rslides li:first-child {
		position: relative;
		display: block;
	}
	
	.rslides, .rslides_tabs {
		position: relative;
		list-style: none;
		overflow: hidden;
		width: 100%;
		padding: 0 !important;
		margin: 0 !important;
	}

	.rslides li {
		-webkit-backface-visibility: hidden;
		position: absolute;
		display: none;
		width: 100%;
		left: 0;
		top: 0;
		margin: 0 !important;
		padding: 0 !important;
		list-style-type: none !important;
	}
	
	.rslides_tabs li {
		display: inline-block;
	}
	
	.rslides_tabs {
		text-align: center;
	}
	
	
	
	header.row h1, header.row h2, header.row h3, header.row h4, header.row h5, header.row h6  {
		letter-spacing: 4px;
	}

/* ======== / EDITOR STYLES ======== */

/* ======== HOME ======== */
	#home {
		width: 100%;
		color: #fff;
		background-image: url(assets/img/header/1.jpg);
	}
	
	#home .tb {
		position: relative;
		z-index: 3;
		background: url('assets/img/header-texture.png'); 
	}
	
	#home .tb .tb-cell ul#text-slider {
		font-family: MyriadPro-Light;
		font-size: 38px;
	}
	
	#home img{
		margin: 40px auto;

	}
	#home h1, #home h6 {
		color: #fff;
	}
	
	
	
	#home .tb .tb-cell h1 {
		font-family : comesinhand;
		margin-top : 100px;
		margin-bottom: 20px;
	}
	
	#home h6 {
		font-family : relwayRegular;
		
		margin-bottom: 50px;
		font-weight: normal;
	}
	
	.slider-current {
		opacity: 1 !important;
		-moz-opacity: 1 !important;
		-khtml-opacity: 1 !important;
	}
	
	.bg-slider {
		width: 100% !important;
		height: 100% !important;
		
		position: absolute !important;
		z-index: 2 !important;
		opacity: 0;
		-moz-opacity: 0;
		-khtml-opacity: 0;
		transition: opacity 500ms;
		-ms-transition: opacity 500ms;
		-webkit-transition: opacity 500ms;
		-moz-transition: opacity 500ms;
		background-attachment: fixed;
	}
	
	
/* ======== / HOME ======== */

/* ======== MAIN MENU ======== */
	#main-menu {
		height: 83px;
		width: 100%;
		z-index: 9991;
		position: absolute;
		display: block !important;
		transition: background-color 0.5s;
		-ms-transition: background-color 0.5s;
		-moz-transition: background-color 0.5s;
		-webkit-transition: background-color 0.5s;
	}
	
	.sticky-wrapper {
		height: auto !important;
	}
	
	#mobile-menu {
		position: absolute;
		top: 83px;
		background-color: #FFFFFF;
		width: 100%;
	}
	.inter-mob-menu {
		top: 75px !important;
	}
	
/*	#mobile-menu ul li:last-child :before {
		content: url("assets/img/lock.png");
		top:10;
		margin-right: 10px;
	}
	*/
	#mobile-menu ul li a {
		color : #4e4e4e;
		display: block;
		padding: 10px 0;
		border-bottom: 1px solid #555;
	}
	
	#mobile-menu ul li a:hover {
		color: #1ac9c7 !important;
	}
	
	#mobile-menu-container {
		display: none;
	}
	
	#mobile-menu-button {
		width: 80px;
		height: 83px;
		position: absolute;
		right: 0;
		line-height: 83px;
		font-size: 20px;
		text-align: center;
		cursor: pointer;
		z-index: 5;
	}
	
	
	
	#logo-container h3 {
		font-size: 24px !important;
		letter-spacing: 2px;
		font-weight: 400;
	}
	
	#desktop-menu > ul {
		text-align: right;
		position: relative;
		/*margin-top:15px;*/
		margin-right:25px;
	}
	
	#desktop-menu > ul > li {
		display: inline-block;
		/*margin-right: 25px;*/
		position: relative;
	}
	#desktop-menu ul li a:hover{   /*,.current_menu_item a*/
		color : #f2f2f2 !important;
	}
/*	#desktop-menu ul li:last-child :before {
		 background-image : url("assets/img/lock.png");
		background-size: 0px 10px;
    	content:" ";
		/*top:10; */
/*		margin-right: 10px;
		 display: inline-block;
	    width: 13px;
	    height: 13px;
	    margin-right: 5px;
	    content: "";
	    background: url("assets/img/lock.png") no-repeat 0 0;
	    background-size: 100%;
		
	*/	
	}
	#desktop-menu ul > li .sub-menu {
		position: absolute;
		text-align: left;
		background-color: #404040;
		display: none;
	}
	
	#desktop-menu .sub-menu a:hover {
		color: #fff;
	}
	
	#desktop-menu .sub-menu .current_menu_item {
		color: #fff;
	}
	
	#desktop-menu .sub-menu li {
		position: relative;
	}
	
	.sub-menu .sub-menu {
		left: 155px;
		top: 0;
	}
	
	#desktop-menu > ul > li .sub-menu > li > a {
		display: block;
		padding: 10px 15px;
		max-width: 155px;
		min-width: 155px;
		transition: color 0.2s, background 0.2s;
		-webkit-transition: color 0.2s, background 0.2s;
		-moz-transition: color 0.2s, background 0.2s;
		-ms-transition: color 0.2s, background 0.2s;
	}	
	
	#desktop-menu ul > li:hover > .sub-menu {
		display: block;
	}
	
	#desktop-menu > ul > li > a {
		display: block;
		height: 83px;
		line-height: 84px;
		text-align: center;
		padding: 0 15px;
		color: #ffffff;
		font-family:brandonTextMedium;
		transition: color 0.2s;
		-webkit-transition: color 0.2s;
		-moz-transition: color 0.2s;
		font-size: 12px;
	}
	
	
	
	#desktop-menu > ul > li > a:hover{ /*, #desktop-menu > ul > .current_menu_item > a*/ 
		/*border-bottom: 2px solid;*/
		color : #FFFFFF !important;
	}
	
	
/* ======== / MAIN MENU ======== */



/* ======== EXAMPLE SECTIONS ======== */
	
	#sec02 {
		background: url(assets/img/backgrounds/get-your-video.jpg) ;
	}
	
	
	#sec04{
		background: url(assets/img/backgrounds/04.jpg);
	}
	
	#sec06{
		background : #1ac9c7;
	}
	#miicard{
		background: url(assets/img/interiorpage/background-2.jpg);
	}
	.miicard-video{
		background: url(assets/img/interiorpage/video-img1.jpg) ;
	}
/* ======== / EXAMPLE SECTIONS ======== */

/* ======== SHORTCODES ======== */
	.pricing-table, .pricing-table .button-1 {
		border: 1px solid #dddddd;	
	}
	
	.contact-info {
		color: #fff;
		text-align: center;
	}
	
	.tabs {
		font-size: 13px;
	}

	.tabs > ul {
		position: relative;
		top: 1px;
		list-style: none;
		margin: 0 !important;
		padding: 0 !inportant;
	}

	.tabs > ul li {
		float: left;
		margin: 0 !important;
		padding: 0 !important;
		list-style: none !important;
	}

	.tabs > ul li i {
		font-size: 16px;
	}

	.tabs > ul li a {
		padding: 0 20px;
		height: 35px;
		line-height: 35px;
		text-align: center;
		display: block;
		color: inherit !important;
	}

	.tabs > ul li i {
		margin: 0 5px;

	}

	.active-tab {
		background-color: #fff !important;
		border-left: 1px solid #eeeeee !important;
		border-right: 1px solid #eeeeee !important;
		border-top: 2px solid;
		border-bottom: none;
		border-radius: 3px 3px 0 0;
		-moz-border-radius: 3px 3px 0 0;
		-webkit-border-radius: 3px 3px 0 0;
		font-weight: 600;
	}

	.tab-content {
		padding: 15px 20px;
		border: 1px solid #eee;
		clear: both;
		background-color: #fff;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
	}
	
	#contact-form input[type="text"], #contact-form textarea {
		width: 100%;
		display: block;
		margin-bottom: 14px;
		border-radius: 2px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border: 1px solid #ddd;
		height: 50px;
		padding: 10px;
		font-family: inherit;
		font-size: inherit;
		color: inherit;
	}
	
	#contact-form textarea {
		margin-bottom: 24px;
		height: 170px;
		max-width: 100%;
	}
	
	.contact-info div {
		width: 68px;
		height: 68px;
		line-height: 68px;
		border: 1px solid;
		border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		font-size: 24px;
		margin: 0 auto 30px;
	}
	
	.contact-info p {
		margin-bottom: 0;
	}
	
	.pricing-table {
		border-radius: 2px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
	}
	
	.pricing-table .button-1 {
		color: inherit;
		transition: color 0.2s, border-color 0.2s;
		-moz-transition: color 0.2s, border-color 0.2s;
		-webkit-transition: color 0.2s, border-color 0.2s;
		-ms-transition: color 0.2s, border-color 0.2s;
	}
	
	.pricing-table ul {
		margin: 0 !important;	
	}
	
	.pricing-table h5 {
		margin-bottom: 0;
	}
	
	.times {
		font-size: 10px;
		margin-bottom: 10px;
	}
	
	.price {
		font-size: 26px;
		margin: 10px 0;
	}
	
	.pricing-table ul li {
		list-style-type: none !important;
		margin: 0 !important;
		padding: 15px 10px !important;
		text-align: center;
		border-bottom: 1px solid #dddddd;
	}
	
	.pricing-table ul li:first-child {
		border-width: 2px;
		font-size: 20px;
	}
	
	.pricing-table ul li:last-child {
		border-bottom: none;
		padding: 25px 10px !important;
	}

	.contentbox-1 {
		padding-left: 95px;
		position: relative;
		margin-bottom: 60px;
	}
	
	.contentbox-1:hover div {
		color: #fff !important;
	}
	
	.contentbox-1 div {
		position: absolute;
		width: 64px;
		height: 64px;
		border: 1px solid;
		border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		left: 0;
		line-height: 64px;
		text-align: center;
		font-size: 20px;
		transition: color 0.2s, background 0.2s;
		-webkit-transition: color 0.2s, background 0.2s;
		-moz-transition: color 0.2s, background 0.2s;
		-ms-transition: color 0.2s, background 0.2s;
	}
	
	.contentbox-2 div {
		margin: 0 auto 30px;
		width: 64px;
		height: 64px;
		border: 1px solid;
		border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		line-height: 64px;
		text-align: center;
		font-size: 24px;
		transition: color 0.2s, background 0.2s;
		-webkit-transition: color 0.2s, background 0.2s;
		-moz-transition: color 0.2s, background 0.2s;
		-ms-transition: color 0.2s, background 0.2s;
	}
	
	.contentbox-2:hover div {
		color: #fff !important;
	}
	
	.contentbox-2 {
		text-align: center;
	}
	
	.white {
		color: #fff !important;
	}
	
	.countdown.white h6 {
		color: inherit !important;
	}
	
	.countdown i {
		font-size: 30px;
	}
	
	.count {
		display: block;
		font-size: 60px;
		margin: 40px 0;
	}
	
	.countdown {
		text-align: center;
		padding: 25px;
		/*background: url(assets/img/opacity.png);*/
	}
	
	.client {
		text-align: center;
		padding: 75px 25px;
		background: url(assets/img/opacity.png);
	}
	
	.team-member {
		text-align: center;
		overflow: hidden;
	}
	
	.team-social {
		position: relative;
		display: inline-block;
		overflow: hidden;
	}

	.team-network {
		position: absolute;
		top: 35%;
		padding: 0 8px;
		text-align: center;
		width: 100%;
		opacity: 0;
		-khtml-opacity: 0;
		-moz-opacity: 0;
		z-index: 5;
	}
	
	.team-member h1, .team-member h2, .team-member h3, .team-member h4, .team-member h5, .team-member h6 {
		margin: 30px 0;
	}
	
	.team-member .info-team {
		display: inline-block;
		padding: 2px 20px;
		background-color: #444444;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		color: #fff;
		transition: color 0.2s, background 0.2s;
		-webkit-transition: color 0.2s, background 0.2s;
		-moz-transition: color 0.2s, background 0.2s;
		-ms-transition: color 0.2s, background 0.2s;
	}
	
	.team-member .info-team:hover {
		color: #444444;
		background-color: transparent;
	}
	
	#twitter-plugin {
		color: #fff;
		text-align: center;
	}
	
	#twitter-plugin ul {
		margin: 0 0 30px 0 !important;
		padding: 0 !important;
	}
	
	#twitter-plugin ul li {
		margin: 0 !important;
		padding: 0 !important;
		list-style: none !important;
	}
	
	.text-tweet {
		margin-bottom: 25px;
	}
	
	.date-tweet {
		font-size: 12px;
		font-weight: 600;
	}
	
	#twitter-icon {
		width: 60px;
		height: 60px;
		text-align: center;
		line-height: 60px;
		border: 1px solid;
		border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		font-size: 25px;
		margin: 0 auto 45px;
	}
	
	#twitter-plugin .rslides_nav {
		display: block;
		width: 30px;
		height: 30px;
		line-height: 26px;
		border: 1px solid;
		text-align: center;
		border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		font-size: 16px;
		display: inline-block;
		cursor: pointer;
		margin: 0 5px;
		
	}
	
	#portfolio-categories {
		text-align: center;
		margin: 60px 10px 60px 10px;
	}
	
	#portfolio-categories ul {
		margin: 0 !important;
	}
	
	#window header.row {
		padding: 50px 0 40px;
	}
	
	#portfolio-categories ul li {
		display: inline-block;
		list-style: none;
		padding: 0 !important;
		margin: 0 10px 20px 0 !important;
		text-align: center;
	}
	
	#portfolio-categories ul li a {
		padding: 10px !important;
		border-bottom: 2px solid transparent;
		transition: color 0.2s;
		-webkit-transition: color 0.2s;
		-moz-transition: color 0.2s;
	}
	
	.isotope-item {
		width: 24.96%;
		background-color: #404040;
		position: relative;
		overflow: hidden;
		float: left;
		z-index: 2;
	}

	.isotope-item a {
		display: block;
		overflow: hidden;
	}
	
	/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

	
	.portfolio-meta ul li {
		border-bottom: 1px solid #ddd;
		padding-bottom: 10px;
		margin-bottom: 10px;
	}
	
	.portfolio-meta ul {
		margin-bottom: 30px;
	}
	
	.info-work {
		position: absolute;
		top: 0;
		z-index: 1;
		color: #fff;
		left: 0;
		width: 100%;
		height: 100%;
	}
	
	.info-work .tb-cell {
		height: 100%;
	}
	
	.text-work {
		top: -100%;
		position: relative;
		opacity: 0;
		-moz-opacity: 0;
		-khtml-opacity: 0;
	}
	
	.portfolio-close {
		width: 30px;
		height: 30px;
		color: #404040;
		margin: auto;
		text-align: center;
		line-height: 30px;
		cursor: pointer;
		position: relative;
		top: -50px;
		font-size: 15px;
	}
	
	.info-work p {
		margin-bottom: 0;
		font-style: italic;
	}
	
	.info-work h5 {
		color: inherit;
	}
	
	.icon-work {
		color: #404040;
		font-size: 16px;
		width: 55px;
		height: 55px;
		line-height: 55px;
		text-align: center;
		background-color: #fff;
		margin: 0 auto 20px;
		border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		opacity: 0;
		-moz-opacity: 0;
		-khtml-opacity: 0;
		transition: opacity 0.2s ease-in 0.2s;
		-moz-transition: opacity 0.2s ease-in 0.2s;
		-ms-transition: opacity 0.2s ease-in 0.2s;
		-webkit-transition: opacity 0.2s ease-in 0.2s;
	}
	
	.isotope-item:hover > a .icon-work {
		opacity: 1;
		-moz-opacity: 1;
		-khtml-opacity: 1;
	}
	
	.isotope-item > a img {
		-moz-transition: opacity 0.2s;
		-ms-transition: opacity 0.2s;
		-webkit-transition: opacity 0.2s;
		transition: opacity 0.2s;
		position: relative;
		z-index: 2;
	}
	
	#portfolio-container {
		overflow: hidden;
	}
	
	#fail-message, #success-message {
		display: none;
	}
	
	.isotope-item:hover > a img {
		opacity: 0;
		-moz-opacity: 0;
		-khtml-opacity: 0;
	}
	
	#portfolio-categories .active a {
		border-bottom: 2px solid;
	}
	
	.slogan {
		padding: 50px 20px;
		color: #fff;
		text-align: center;
	}
	
	.slogan h1, .slogan h2, .slogan h3, .slogan h4, .slogan h5, .slogan h6 {
		color: inherit;
		letter-spacing: 3px;
		margin-bottom: 0;
	}
	
	.divider-1 {
		height: 2px;
		width: 55px;
		background-color: #404040;
		margin: auto;
	}
	
	.divider-2, .divider-3 {
		height: 1px;
		width: 100%;
		background-color: #ddd;
		margin: 90px 0;
	}
	
	.divider-4 {
		height: 1px;
		width: 55px;
		background-color: #ddd;
		margin: 30px auto 40px;
	}
	
	.divider-3 {
		margin: 60px 0 !important;
	}
	
	.toggle {
		font-size: 13px;
		margin-bottom: 10px;
	}

	.toggle-title {
		background-color: #fff;
		height: 54px;
		border: 1px solid #ddd;
		font-size: 13px;
		position: relative;
		cursor: pointer;
		overflow: hidden;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		font-weight: normal;
		font-style: normal;
	}

	.toggle-title-text {
		height: 54px;
		padding: 15px 60px 10px 20px;
		overflow: hidden;
	}

	.toggle-title-text i {
		font-size: 16px;
		vertical-align: middle;
		margin-right: 10px;
	}
	
	.toggle-title-text h6 {
		font-size: 13px;
	}
	
	.column {
		margin-bottom: 50px;
	}
	
	.alert {
		padding: 9px 28px 8px 20px;
		border: 1px solid;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		position: relative;
		margin-bottom: 7px;
		font-size: 13px;
	}

	.close-alert {
		position: absolute;
		right: 15px;
		top: 12px;
		cursor: pointer;
		font-size: 12px;
	}

	.alert-1 {
		color: #c4a21b;
		border-color: #f5dc7d;
		background-color: #fcf7d9;
	}

	.alert-2 {
		color: #8fa442;
		border-color: #c2d288;
		background-color: #e3ebc6;
	}

	.alert-3 {
		color: #528da9;
		border-color: #9ac9df;
		background-color: #d8ecf5;
	}

	.alert-4 {
		color: #b3696c;
		border-color: #f7c7c9;
		background-color: #f9e5e6;
	}

	.toggle-arrow {
		width: 45px;
		height: 54px;
		line-height: 54px;
		text-align: center;
		font-size: 13px;
		position: absolute;
		right: 0;
		top: 0;
		color: #404040;
	}

	.toggle-content {
		padding: 15px 20px;
		border-top: none;
		display: none;
		line-height: 22px;
	}
/* ======== / SHORTCODES ======== */

/* ======== BLOG & PAGE ======== */
	#head-page {
		padding: 180px 0 90px;
		text-align: center;
		letter-spacing: 4px;
	}
	
	#page-content {
		padding-bottom: 85px;
	}
	
	.post-element header .media {
		margin-bottom: 35px;
	}
	
	.post-element > header > h5:hover {
		transition: color 0.2s;
		-moz-transition: color 0.2s;
		-webkit-transition: color 0.2s;
		-ms-transition: color 0.2s;
	}
	
	.slideshow-post, .slideshow-portfolio {
		position: relative;
	}
	
	.post-element header {
		margin-bottom: 30px;
	}
	
	.info-post-header {
		font-size: 12px;
	}
	
	.info-post-header a {
		transition: color 0.2s;
		-moz-transition: color 0.2s;
		-webkit-transition: color 0.2s;
		-ms-transition: color 0.2s;
	}
	
	#list-comments .comment-body {
		padding: 30px 30px 10px 110px;
		border: 1px solid #ddd;
		border-radius: 2px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		position: relative;
		margin-bottom: 20px;
		min-height: 107px;
	}
	
	.fn {
		color: #404040;
	}
	
	.comment-body a {
		transition: color 0.2s;
		-moz-transition: color 0.2s;
		-webkit-transition: color 0.2s;
		-ms-transition: color 0.2s;
	}
	
	.comment-author {
		margin-bottom: 10px;
	}
	
	#comment-form input[type="text"] {
		width: 100%;
	}
	
	.field {
		width: 32.6%;
		float: left;
	}
	
	.margin-field {
		margin: 0 1% !important;
		position: relative;
	}
	
	
	#comment-form textarea {
		width: 100%;
		display: block;
		height: 175px;
		max-width: 100% !important;
		margin-top: 15px;
	}
	
	#comment-form textarea, #comment-form input[type="text"] {
		display: block;
		border-radius: 2px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border: 1px solid #ddd;
		padding: 10px;
		font-family: inherit;
		font-size: inherit;
		color: inherit;
	}
	
	#comment-form input[type="text"] {
		height: 50px;
	}
	
	
	#list-comments .children {
		border-left: 1px solid #ddd;
		padding-left: 50px;
	}
	
	#list-comments .avatar {
		position: absolute;
		left: 20px;
	}
	
	.info-post-header i {
		margin: 0 8px;
	}
	
	#blog-navi {
		margin-top: -50px;
	}
	
	.quote {
		background-color: #404040;
		padding: 45px;
		transition: background-color 0.2s;
		-moz-transition: background-color 0.2s;
		-webkit-transition: background-color 0.2s;
		-ms-transition: background-color 0.2s;
		display: block;
	}
	
	.quote:hover .q-author {
		color: #fff;
	}
	
	.q-author {
		transition: color 0.2s;
		-moz-transition: color 0.2s;
		-webkit-transition: color 0.2s;
		-ms-transition: color 0.2s;
	}
	
	.quote h4 {
		color: #fff;
	}
	
	#author-post {
		border: 1px solid #ddd;
		padding: 20px 20px 10px 20px;
		border-radius: 2px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		min-height: 85px;
	}
	
	
	#author-post img {
		margin: 0 30px 10px 0;
	}
	
	#author-post h5 {
		margin-bottom: 15px;
	}
	
	#social-post {
		margin-top: 50px;
		border: 1px solid #ddd;
		border-radius: 2px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
	}
	
	#social-post .social-field:first-child {
		width: 58% !important;
		text-align: left;
		padding: 15px 22px;
		left: 0;
	}
	
	.social-field {
		padding: 15px 0;
		float: left;
		width: 7%;
		text-align: center;
		position: relative;
		display: block;
		transition: color 0.2s, background-color 0.2s;
		-moz-transition: color 0.2s, background-color 0.2s;
		-webkit-transition: color 0.2s, background-color 0.2s;
		-ms-transition: color 0.2s, background-color 0.2s;
	}
	
	a.social-field:hover {
		color: #fff;
	}
	
	.social-fb:hover {
		background-color: #3C5B9B;
	}
	
	.social-twitter:hover {
		background-color: #2DAAE1;
	}
	
	.social-dribbble:hover {
		background-color: #F874A4;
	}
	
	.social-linkedin:hover {
		background-color: #0173B2;
	}
	
	.social-google:hover {
		background-color: #F63E28;
		border-radius: 0 2px 2px 0;
		-moz-border-radius: 0 2px 2px 0;
		-webkit-border-radius: 0 2px 2px 0;
	}
	
	.tooltip-1 {
		display: block;
		padding: 5px;
		font-size: 12px;
		color: #fff;
		background-color: #404040;
		position: absolute;
		top: -40px;
		left: -10px;
		z-index: 10;
		display: none;
		margin: auto;
		min-width: 80px;
		border-radius: 2px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
	}
	
	.tooltip-1 .fa-caret-down {
		color: #404040;
		position: absolute;
		font-size: 30px;
		bottom: -15px;
		left: 40%;
	}
	.fa-comments{
		color: #71d0cf !important;
	}
	.social-field:hover .tooltip-1 {
		display: block;
	}
/* ======== / BLOG ======== */

/* ======== WIDGETS ======== */
	.widget {
		margin-bottom: 50px;
	}
	
	.widget > header {
		background: url(assets/img/line.png);
		background-repeat: repeat-x;
		background-position: 0 15px;
	}
	
	.widget a {
		transition: color 0.2s;
		-webkit-transition: color 0.2s;
		-moz-transition: color 0.2s;
	}
	
	.widget > header > h6 {
		background-color: #fff;
		display: inline-block;
		padding-right: 20px;
	}

	.widget_recent_entries ul, .widget_categories ul {
		border: 1px solid #ddd;
	}
	
	.widget_recent_entries ul li, .widget_categories ul li {
		padding: 15px 20px;
		border-bottom: 1px solid #ddd;
	}
	
	.widget_recent_entries ul li:before, .widget_categories ul li:before {
		content: "\f105";
		font-size: 14px;
		font-family: FontAwesome;
		margin-right: 15px;
	}
	
	.widget_recent_entries ul li span {
		font-size: 10px;
		margin-left: 10px;
	}
	
	.widget_recent_entries ul li:last-child, .widget_categories ul li:last-child {
		border-bottom: none;
	}
	
	.search-widget {
		width: 100%;
		height: 45px;
		background-color: #fff;
		border: 1px solid #ddd;
		position: relative;
		padding: 0 55px 0 18px;
	}
	
	.widget_tag_cloud a {
		padding: 6px 10px;
		color: #fff;
		margin: 0 0 3px 0;
		font-size: 11px;
		background-color: #404040;
		display: inline-block;
		border-radius: 2px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		transition: background-color 0.2s;
		-moz-transition: background-color 0.2s;
		-webkit-transition: background-color 0.2s;
		-ms-transition: background-color 0.2s;
	}
	
	.widget_tag_cloud a:hover {
		color: #fff !important;
	}

	.search-widget input[type="submit"] {
		position: absolute;
		right: 10px;
		top: 6px;
		background-color: transparent;
		z-index: 2;
		border: none;
		width: 30px;
		height: 30px;
		cursor: pointer;
	}

	.search-widget input[type="text"] {
		width: 100%;
		margin-top: 12px;
		font-size: 13px;
		font-family: 'Open Sans', sans-serif;
		color: #b0b0b0;
		border: none;
	}

	.search-button {
		position: absolute;
		right: 20px;
		top: 14px;
		font-size: 13px;
		z-index: 1;
		color: #444444;
	}
/* ======== / WIDGETS ======== */

/* ======== FOOTER ======== */
	#foot-page {
		background-color: #ffffff;
		color: #535353;
		text-align: center;
		
	}
	
	#copyright {
		margin: 30px 0;

	}
	
	#backtop {
		width: 45px;
		height: 45px;
		line-height: 42px;
		border: 1px solid #fff;
		border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		margin: auto;
		font-size: 18px;
		cursor: pointer;
	}
	
	#foot-icons a {
		margin: 0 6px;
		font-size: 14px;
	}
	
	#foot-icons a i, #backtop {
		transition: color 0.2s, background-color 0.2s;
		-moz-transition: color 0.2s, background-color 0.2s;
		-webkit-transition: color 0.2s, background-color 0.2s;
		-ms-transition: color 0.2s, background-color 0.2s;
	}
	
	#backtop:hover {
		background-color: #fff;
		color: #404040;
	}
/* ======== / FOOTER ======== */
/* ============= Custom css  =======*/
.dwn_page{
overflow:auto;
margin-top:3%;
margin-bottom : 2%;
}
.background
{
	width:100%;
	height : 4876px;
	margin:0 auto;
	overflow:hidden;
	background:url("assets/img/inter-page.jpg") no-repeat;
}
