/* ============== RESET ============== */
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		font-family:  'Raleway', sans-serif;
	}

	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	
	html, body {
		height: 100%;
	}

	body {
		line-height: 23px;
		font-family: 'Open Sans', sans-serif;
		font-size: 13px;
		color: #787878;
		/*overflow-y: scroll;*/
		/*overflow-x: hidden;*/
	}

	ol, ul {
		list-style: none ;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	
	a:active, a:focus {
		outline: none; 
	}

	*:focus {
		outline: none;
	}
	a:hover {
    text-decoration: none !important ;
   
	}
/* ============== / RESET ============== */

/* ============== STANDARD SETTINGS ============== */



	* {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	
	

/* ======== MAIN MENU ======== */
	#main-menu {
		height: 83px;
		width: 100%;
		z-index: 9991;
		position: absolute;
		display: block !important;
		transition: background-color 0.5s;
		-ms-transition: background-color 0.5s;
		-moz-transition: background-color 0.5s;
		-webkit-transition: background-color 0.5s;
	}
	
	.sticky-wrapper {
		height: auto !important;
	}
	#main-menu:hover{
		background : #FFFFFF;
		
	}
	#main-menu:hover ul li a{
		color : #000000;
	}
	#main-menu:hover ul li:hover{
		background: #1ac9c7 !important;
	}
	#mobile-menu {
		position: absolute;
		top: 83px;
		background-color: #FFFFFF;
		width: 100%;
	}
	.inter-mob-menu {
		top: 75px !important;
	}

	#mobile-menu ul li a {
		color : #4e4e4e;
		display: block;
		padding: 10px 0;
		border-bottom: 1px solid #555;
	}
	
	#mobile-menu ul li a:hover {
		color: #1ac9c7 !important;
	}
	
	#mobile-menu-container {
		display: none;
	}
	
	#mobile-menu-button {
		width: 80px;
		height: 83px;
		position: absolute;
		right: 0;
		line-height: 83px;
		font-size: 20px;
		text-align: center;
		cursor: pointer;
		z-index: 5;
	}
	
	
	
	#logo-container h3 {
		font-size: 24px !important;
		letter-spacing: 2px;
		font-weight: 400;
	}
	
	#desktop-menu > ul {
		text-align: right;
		position: relative;
		/*margin-top:15px;*/
		margin-right:25px;
	}
	
	#desktop-menu > ul > li {
		display: inline-block;
		/*margin-right: 25px;*/
		position: relative;
	}
	#desktop-menu ul li a:hover{   /*,.current_menu_item a*/
		color : #f2f2f2 !important;
	}

	#desktop-menu ul > li .sub-menu {
		position: absolute;
		text-align: left;
		background-color: #404040;
		display: none;
	}
	
	#desktop-menu .sub-menu a:hover {
		color: #fff;
	}
	
	#desktop-menu .sub-menu .current_menu_item {
		color: #fff;
	}
	
	#desktop-menu .sub-menu li {
		position: relative;
	}
	
	.sub-menu .sub-menu {
		left: 155px;
		top: 0;
	}
	
	#desktop-menu > ul > li .sub-menu > li > a {
		display: block;
		padding: 10px 15px;
		max-width: 155px;
		min-width: 155px;
		transition: color 0.2s, background 0.2s;
		-webkit-transition: color 0.2s, background 0.2s;
		-moz-transition: color 0.2s, background 0.2s;
		-ms-transition: color 0.2s, background 0.2s;
	}	
	
	#desktop-menu ul > li:hover > .sub-menu {
		display: block;
	}
	
	#desktop-menu > ul > li > a {
		display: block;
		height: 83px;
		line-height: 84px;
		text-align: center;
		padding: 0 15px;
		color: #ffffff;
		transition: color 0.2s;
		-webkit-transition: color 0.2s;
		-moz-transition: color 0.2s;
		font-size: 12px;
	}
	
	
	
	#desktop-menu > ul > li > a:hover{ /*, #desktop-menu > ul > .current_menu_item > a*/ 
		/*border-bottom: 2px solid;*/
		color : #FFFFFF !important;
	}
	
	
/* ======== / MAIN MENU ======== */
.navbar-default {
	background:none;
	border:none;
	color:#FFFFFF;
}

.navbar-nav {
float: right;

}
.navbar-default .navbar-nav>li>a {
color: #fff;
font-family:'Montserrat', sans-serif;
font-size:13px;


}

.navbar-default .navbar-nav>li>a:hover {
color: #1fb3b7;

}

.navbar-default .navbar-toggle {
border:none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background: none;
}

/*cleaning */

#logo-container, #interior-logo-container { margin-top: 25px; margin-left: 45px; }
.ahover:hover { background: #1ac9c7 !important; }


/* home */
#home {	width: 100%; color: #fff; background-image: url('../img/header/header.jpg'); height : 100%; 	overflow:hidden;}

.header_content{position:absolute; top: 50%; left: 0; right:0; z-index:10; width: 100%; text-align:center;color: #fff;}

#home h1 {font-weight: bold; margin-top:-200px; color:#fff; font-family: 'Raleway', sans-serif !important; text-transform: none;}
#home h6 { font-weight: normal; color:#fff;}

#home .buttons{	margin-bottom : 35px; }
#home .buttons a{margin: 7px; padding: 12px 30px; font-size:14px; font-weight:bold; color: #fff; display:inline-block;}
#home .buttons a.video{background: #20babe; }
#home .buttons a.learn{background: #262c35; opacity: 0.7;}

#video-container { position: absolute; }
.dwn_pag{ position: absolute; bottom: 0; left:0; right:0; margin : 0 auto;	}
#bounce_dwn{text-align:center; }
.typed-cursor{display:none;}
.trusted{text-align:center; background: #ecf0f1; padding: 30px 0; }
.trusted p{font-size:14px; color: #646672; padding-bottom: 30px; font-weight:bold;}
.trusted ul li{display:inline-block; }
.trusted ul li img{
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
	-ms-filter: grayscale(1);
}

/*section */
section h1{color: #2b2e3c;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}

/** how it works **/
#how_works h2{font-size: 22px; font-weight: bold; color: #262c35; margin-bottom:10px;}
#how_works h2 .aqua{color: #1ac8c6; }
#how_works img{margin: 0 auto 25px auto;}

#how_works p{font-size: 15px; color: #868e9a; line-height: 21px; margin-bottom: 60px;}	
a.get_started{margin-top:35px; background: #1ac8c6; border-bottom: solid 3px #048584; color:#fff; padding: 20px 40px; font-size: 18px; font-weight:bold; display:inline-block; text-transform:uppercase;} 

/** testimonials **/
#testimonials{background: url('../img/testimonial-background.jpg') no-repeat center; color:#fff;}
#testimonials h1{color:#fff;}
#testimonials p{font-size: 16px; line-height:30px; margin-bottom: 30px;}
#testimonials .author{font-size: 12px; line-height:21px; font-weight: bold;}
#testimonials i.fa{margin-right:3px; color:#10151d;}

/** why_wooshii **/
#why_wooshii h3{color: #262c35; font-size: 28px; font-weight: bold; margin-bottom: 25px;}
#why_wooshii h4{ color: #262c35; font-size: 15px; font-weight: bold; margin-bottom: 40px;}
#why_wooshii p{ color: #bcbdc7; font-size: 15px; margin-bottom: 15px; line-height: 24px;}

.why_choose > .row > div { margin-bottom: 70px; }
.container_safe{min-height:212px; }
.safe{ position: absolute; left: 0; right: 0; }
.safe_handle{ position: absolute; left: 0; right: 0; margin-top: 38px; margin-left: 14px;}


.container_clipboard{min-height:225px; }
.clipboard{ position: absolute; left: 0; right: 0; }
.clipboard_tick{ position: absolute; left: 0; right: 0; top:73px;}
.clipboard_tick li{margin-bottom:7px;}
.clipboard_tick img{margin-left:-121px; }

.conainter_control{min-height:193px; }
.control{position: absolute; left: 0; right: 0; }
.control_controls{position: absolute; left: 0; right: 0; top:0px;}
.control_controls ul li{height:195px; display:inline-block;}
.control_controls li img{float:left; }
.control_controls li.ctrl1 img{margin-top:73px; }
.control_controls li.ctrl2{padding: 0 15px; }
.control_controls li.ctrl2 img {margin-top:100px;}
.control_controls li.ctrl3 img {margin-top:40px;}

.map_container{min-height:193px; }
.map_container img{position: absolute; left: 0; right: 0; margin: 0 auto;}

#portfolio{background: #262c35 url('../img/bg.jpg') no-repeat center;}
#portfolio h1{color: #fff;}
#portfolio h3{color: #8a8f95; font-family: 'Montserrat', sans-serif; font-size: 18px; padding-bottom: 65px; text-align: center;} 

.marg{margin-bottom:20px;}
.recent-projects{
	/*min-height : 200px;
	max-height : 250px;*/
	overflow: hidden;
}
.recent-projects img{
		position: relative;
		left: 0;
		right: 0;
		margin: 0 auto;
		padding: 0; 
}
.recent-projects img.play{
	position: absolute;
}
.layered-paper {
    background: #20babe;
    box-shadow:
        0 1px 1px rgba(0,0,0,0.10), /* The top layer shadow */
		 0 8px 0 -5px #0ca8a7, /* The second layer */
		 0 5px 1px -6px #0ca8a7, /* The second layer shadow */
		 0 19px 0px -13px #018987, /* The third layer */
		 0 7px 1px -11px #018987
}

.bg-clip p {
	color: #fff;
	margin: 0;
	font-size: 14px;
	font-weight: bold;
	line-height: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.r-user { padding: 0 0 8px 0; }
.u-img { margin-bottom: -2px; }
.adver { color: #fff; font-size: 11px; line-height: 24px; padding-left: 10px; padding-bottom: 15px; }

.price{ color: #262c35 !important; font-size: 14px !important; font-weight: bold !important; line-height: 24px; }

#footer_testimonials{background: #ecf0f1; padding: 36px 0 0 0;}
#footer_testimonials a.get_started{margin-bottom: 60px; }

.footer{padding-top:30px;} 
.footer .copyright { font-size: 12px; color: #787a7e; margin-bottom: 60px; }
.footer .fmenu { text-align: right; }
.fmenu a { font-size: 12px; color: #787a7e; padding-right: 10px; text-decoration: none; }


/** media **/
	@media (min-width: 1200px){
		
	}
	@media (min-width: 993px){
		header h1{font-size: 70px;}
		.trusted ul li {margin: 0 18px;}
		section h1{font-size: 36px; padding-bottom: 60px;}
		section{padding: 110px 0; }
	
	}
	@media (min-width: 768px){
		header h6{ font-size:29px; line-height:24px; margin: 40px 0 80px 0; line-height:36px;}
		section h1{font-size: 36px; padding-bottom: 75px;}
		section{padding: 90px 0; }
	}
	@media (max-width: 767px){
		#testimonials .container div:first-child{margin-bottom:50px;}
		.fmenu { padding: 10px 0; text-align: center !important; }
		.copyright { text-align: center !important; }
	}
	
	@media (min-width: 993px) and (max-width: 1199px) {
		
	}
	@media (max-width: 480px){
		header h1{font-size: 24px;}
		.capitalize{font-size: 18px; margin: 20px 0 25px 0;}
		
		.trusted ul li img{height: 12px;}
		.trusted ul li {margin: 0 4px;}
	}
	
	@media (min-width: 768px) and (max-width: 992px) {
		header h1{font-size: 48px;}
		.trusted ul li img{height: 20px;}
		.trusted ul li {margin: 0 15px;}
	}
	@media (min-width: 481px) and (max-width: 767px) {
		header h1{font-size: 36px;}
		section h1{font-size: 30px; padding-bottom: 50px;}
		.capitalize{font-size: 20px; margin: 30px 0 40px 0;}
		.trusted ul li img{height: 15px;}
		.trusted ul li {margin: 0 6px;}
		#how_works h1{font-size: 36px;}
		section{padding: 70px 0; }
	}
	
	